<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css">
    <title>Home Page</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <!--header site-->
    <header>
        <div class="logo"><span></span>lianna.</div>
        <ul class="navlist">
            <li><a href="/profile">Profile</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>    
        <div id="menu-icon"class="bx bx-menu"></div>
    </header>


    <!---home section-->
    <section id="home" class="home">
        <div class="home-content">
            <h1>Hi! I'm Lianna Marquez </h1>
            <div class="change-text">
                <h3>And I'm from</h3>
                <h3>
                    <span class="word">Computer&nbsp;Engineering</span>
                    <span class="word">BSCPE&nbsp;2-4</span>
                </h3>
            </div>

        <p> eme eme eme emememememememmemem hahahahaahhaa</p>

        <div class="info-box">
            <div class="email-info">
                <h5>Email:</h5>
                <span>marquezlianna0@gmail.com</span>
            </div>
            <div class="contact-info">
                <h5>Contact No.:</h5>
                <span>091234567</span>
            </div>
        </div>

        <div class="btn-box">
            <a href="#" class="btn">Download CV</a>
            <a href="#" class="btn">Hire Me Now!</a>
        </div>
        
        <div class="social-icons">
            <a href="#"><i class="bx bxl-facebook"></i></a>
            <a href="#"><i class="bx bxl-instagram"></i></a>
            <a href="#"><i class="bx bxl-twitter"></i></a>
            <a href="#"><i class="bx bxl-telegram"></i></a>
        </div>

    </div>

    <div class="home-image">
        <img src="static/pic.png.png" alt="">
    </div>

    <script src="/static/script.js"></script>
 

    <h1>Welcome to Our Website</h1>

    <nav>
        <ul>
            
        </ul>
    </nav>


    <h1>Welcome to my programming works</h1>
    <p>Instruction: create a route and a page for the link that are not working</p>

    <ul>
        <li><a href="/works">toUpperCase</a></li>
        <li><a href="/areaofcircle">Area of a Circle</a></li>
        <li><a href="/areaoftriangle">Area of a Triangle</a></li>
    </ul>
</body>
</html>

